In [20]:
import numpy as np
import pandas as pd
import scipy
from datetime import datetime
import datetime as dt
import matplotlib.pyplot as plt
%matplotlib inline

# Bitcoin Time Series Prediction
The goal of this project is to develop various models to predict the future price of bitcoin. The data set consists of the open and close prices of bitcoin from january 2012 to march 2019, gathered from Coinbase.

Bitcoin is the longest running and most well known cryptocurrency, first released as open source in 2009 by the anonymous Satoshi Nakamoto. Bitcoin serves as a decentralized medium of digital exchange, with transactions verified and recorded in a public distributed ledger (the blockchain) without the need for a trusted record keeping authority or central intermediary. Transaction blocks contain a SHA-256 cryptographic hash of previous transaction blocks, and are thus "chained" together, serving as an immutable record of all transactions that have ever occurred. As with any currency/commodity on the market, bitcoin trading and financial instruments soon followed public adoption of bitcoin and continue to grow. If you don't know what Bitcoin is , then get some knowledge about Bitcoin https://www.coindesk.com/information/what-is-bitcoin .

In [49]:
df = pd.read_csv('coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv')

In [50]:
df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1417411980,300.0,300.0,300.0,300.0,0.01,3.0,300.0
1,1417412040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1417412100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1417412160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1417412220,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
df['date'] = pd.to_datetime(df['Timestamp'],unit='s')

In [52]:
df.set_index('date', inplace=True)

In [53]:
df.drop('Timestamp',axis=1, inplace=True)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2099760 entries, 2014-12-01 05:33:00 to 2019-01-07 22:06:00
Data columns (total 7 columns):
Open                 float64
High                 float64
Low                  float64
Close                float64
Volume_(BTC)         float64
Volume_(Currency)    float64
Weighted_Price       float64
dtypes: float64(7)
memory usage: 128.2 MB

In [59]:
df.dropna(how='all',inplace=True)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1990691 entries, 2014-12-01 05:33:00 to 2019-01-07 22:06:00
Data columns (total 7 columns):
Open                 float64
High                 float64
Low                  float64
Close                float64
Volume_(BTC)         float64
Volume_(Currency)    float64
Weighted_Price       float64
dtypes: float64(7)
memory usage: 121.5 MB

In [58]:
#Dropped the missing values since most of them were in the early stages of bitcoin trading, 
#whenre technical outtages were common or trading volume was virtually non existant

In [69]:
df.index

DatetimeIndex(['2014-12-01 05:33:00', '2014-12-01 05:40:00',
               '2014-12-01 06:24:00', '2014-12-01 06:50:00',
               '2014-12-02 05:29:00', '2014-12-02 10:59:00',
               '2014-12-02 11:04:00', '2014-12-02 11:05:00',
               '2014-12-02 18:43:00', '2014-12-02 18:58:00',
               ...
               '2019-01-07 21:57:00', '2019-01-07 21:58:00',
               '2019-01-07 21:59:00', '2019-01-07 22:00:00',
               '2019-01-07 22:01:00', '2019-01-07 22:02:00',
               '2019-01-07 22:03:00', '2019-01-07 22:04:00',
               '2019-01-07 22:05:00', '2019-01-07 22:06:00'],
              dtype='datetime64[ns]', name='date', length=1990691, freq=None)

In [71]:
df = df.resample(rule='H').mean()

In [72]:
df.index

DatetimeIndex(['2014-12-01 05:00:00', '2014-12-01 06:00:00',
               '2014-12-01 07:00:00', '2014-12-01 08:00:00',
               '2014-12-01 09:00:00', '2014-12-01 10:00:00',
               '2014-12-01 11:00:00', '2014-12-01 12:00:00',
               '2014-12-01 13:00:00', '2014-12-01 14:00:00',
               ...
               '2019-01-07 13:00:00', '2019-01-07 14:00:00',
               '2019-01-07 15:00:00', '2019-01-07 16:00:00',
               '2019-01-07 17:00:00', '2019-01-07 18:00:00',
               '2019-01-07 19:00:00', '2019-01-07 20:00:00',
               '2019-01-07 21:00:00', '2019-01-07 22:00:00'],
              dtype='datetime64[ns]', name='date', length=35970, freq='H')

In [73]:
#Frequency is set for hourly periods, which will be the window of time for each data point in the analysis